@media screen and (max-width:1600px) {
    .header .nav{ padding-left: 5%; }
    .h-lang>p{ padding-left: 30px; padding-right: 30px; }
    .header .nav li{ padding: 0 8px; }
    .header .nav{ width: 555px; }
    .f-nav{ width: 345px; }
    .f-nav a{ width: 80px; }
    .cta-tx{ padding: 50px 45px 0 45px; }
    .ix-cul-list:after{ margin-right: 640px; }


} /* 1600 */
@media screen and (max-width:1440px) {
    .h-news .item{ padding-left: 40px; padding-right: 40px; }
    .h-lang>p{ padding-left: 25px; padding-right: 25px; }
    .header .nav{ padding-left: 3%; }
    .cta-tx .case-ti{ font-size: 28px; }
} /* 1440 */
@media screen and (max-width:1366px) {
    .header .logo{ width: 200px; }
    .header .logo>img{ margin-left: 25px; }
    .header .c{ margin-left: 200px; }
    .h-news .item{ padding-left: 30px; padding-right: 30px; }
    .ab1 .charac-list{ margin-right: 0; }
    .ab1 .freeTx{ margin: 0; overflow: hidden; }
    .footer .f-ma img{ float: none; width: auto; max-width: 100%; box-sizing: border-box; vertical-align: bottom; }
    .footer .f-ma{ text-align: center; font-size: 12px; line-height: 1.4; }
    .footer .f-ma p{ float: none; padding: 0; margin: 5px 0 0 0; }
    .footer .f-cta{ width: 330px; }
    .f-cta p{ float: none; margin: 0; }
    .footer .f-nav{ margin-left: 35px; }
    .f-nav a{ margin-right: 25px; }
    .f-nav{ width: 315px; }
    .ab-pw{ width: 1000px; }
    .cul-list .ch{ margin-top: 75px; }
    .cul-list .txts{ padding-top: 40px; }
    .ab-pw2{ width: 1000px; }
    .honor-list .ma{ margin-left: 35px; }
    .honor-list{ margin-left: -35px; }
    .honor-list a{ margin-bottom: 45px; }
    .ab4 .honor-list{ margin-bottom: 10px; }
    .news-list .item1 a{ margin-left: 10%; }
    .news-list .item2 a{ margin-right: 10%; }
    .news-list a{ padding-top: 50px; height: 280px; }
    .mien-list a{ padding: 30px 20px; }
    .mien-list li{ padding: 0 5%; }
    .pro-more{ width: 92px; height: 152px; padding-top: 50px;  }
    .pro-list .picbox{ margin-right: 90px; }
    .pro-list li:nth-child(2n) .picbox{ margin-left: 90px; }
    .pro-list .num{ margin-bottom: 50px; }
    .pro-list .nowti{ font-size: 24px; }
    .pro-list .tx{ margin-top: 20px; }
    .pro-ti{ font-size: 40px; }
    .pro-cta .txts{ padding-left: 40px; }
    .pro-cta .en{ left: 40px; }
    .pnav li { padding: 0 10px; }
    .pnav li>a{ padding-left: 4px; padding-right: 4px; }
    .case-pw,
    .pro4{ width: 1000px; }
    .prot-list .txts{ padding-top: 50px; }
    .flow-list{ padding: 0; }
    .field-list .t{ padding-top: 40px; padding-bottom: 40px; }
    .ser-list{ padding: 0 5%; }
    .down-list a{ padding: 37px 0; }
    #map{ height: 575px; }
    .cta-list p+p{ margin-top: 8px; }
    .cta-tel .b{ font-size: 20px; line-height: 27px; }
    .cta-tel .icon{ font-size: 44px; line-height: 54px; }
    .cta-tx .f-ma{ margin-top: 45px; }
    .cta-tx .case-ti{ font-size: 24px; }
    .ix1 .ix-ab-ti .pa{ padding: 90px 0 0 200px; }
    .ix1 .ix-ab{ height: 270px; }
    .ix-ab a{ padding: 70px 40px 0 40px; }
    .ix-ab-ti .ti1{ font-size: 24px; }
    .ix-ab-ti .ti2{ font-size: 40px; }
    .ix-news.item1 a{ height: 580px; }
    .ix-news-list,
    .ix-news>a{ padding-top: 40px; }
    .ix-news-list,
    .ix-news.item2 a{ height: 290px; }
    .ix-news .ti2{ font-size: 20px; line-height: 26px !important; height: 52px; margin-bottom: 40px; }
    .ix-news .ix-date+.ix-date{ margin-top: 5px; }
    .ix-news-list .b{ margin-bottom: 40px; }
    .ip-ti{ font-size: 32px; }
    .ix-pro .ma{ margin-left: 10%; padding: 70px 0; }
    .ix-pro .ip-ti, .ix-pro .ix-more2, .ix-pro-list a{ padding: 0 12%; }
    .ix-pro-list .clearfix{ padding: 23px 0; }
    .ix-pro .ip-ti{ margin-bottom: 40px; }
    .ix-pro-bg{ height: 712px; }
    .ix-cul-list:after{ margin-right: 500px; }
    .ix-cul-list .item{ width: 750px; }
    .ix5{ padding-bottom: 90px; }
    .ix-ser-list .tx{ font-size: 20px; line-height: 26px !important; height: 52px; }
    .ix-ser-list .b{ padding-top: 45px; height: 305px; }
    .ix-ser-list .ix-more{ margin-top: 140px; }
    .ix-ser-list .icon{ bottom: 45px; }
    .header .nav{ width: 535px; }
    .pro-nav{ width: 200px; }
    .pro-hot .w,
    .pd-b .freeTx{ width: 780px; }
} /* 1366 */
@media screen and (max-width:1281px) {
    .h-news .item{ padding-left: 25px; padding-right: 25px; }
    .h-lang>p{ padding-left: 20px; padding-right: 20px; }
    .header .nav li{ padding: 0 6px; }
    .header .nav{ width: 509px; }
} /* 1281 */
@media screen and (max-width:1221px) {
    .header .h-news{ display: none; }
    .header .c{ margin-right: 0; }
    .h-lang>p{ padding-left: 35px; padding-right: 35px; }
    .header .nav{ padding-left: 6%; }
    .header .nav li{ padding: 0 10px; }
    .header .nav{ width: 600px; }
    .pro-nav{ display: none; }
    .dnSlide-main .dnSlide-left-btn{ left: 0; }
    .dnSlide-main .dnSlide-right-btn{ right: 0; }
} /* 1221 */
@media screen and (max-width:1024px) {
    .header .nav{ display: none; }
    .h-lang>p{ padding-left: 30px; padding-right: 30px; }
    .header .c{ margin-right: 130px; }
    .header .bodr{ right: -130px; }
    .pnav{ height: 60px; position: relative; }
    .pnav ul{ position: absolute; left: 0; top: 0; white-space: nowrap; min-width: 100%; overflow: hidden; overflow-x: auto; -webkit-overflow-scrolling: touch; }
    .pnav li>a{ padding-top: 18px; padding-bottom: 18px; }
    .header .menu-btn{ display: block; }
    .footer .f-nav{ display: none; }
    #top{ display: block; }
    .ab1 .freeTx{ width: auto; max-width: none; }
    .ab1 .charac-list{ margin-left: 40px; }
    .ab-pw{ width: 90%; }
    .cul-list .txts{ padding: 4% 5% 0 5%; }
    .cul-list .en{ padding-left: 32px; font-size: 24px; }
    .cul-list .en:before{ width: 20px; height: 4px; margin-top: -2px; }
    .cul-list .ch{ margin-top: 20%; font-size: 20px; }
    .cul-list .freeTx{ margin-top: 8px; font-size: 14px; }
    .ab-pw2{ width: 90%; }
    .honor-list .ma{ margin-left: 25px; }
    .honor-list{ margin-left: -25px; }
    .honor-list a{ margin-bottom: 35px; }
    .ab4 .honor-list{ margin-bottom: 20px; }
    .news-list a{ height: 240px; padding: 35px 30px 0 30px; }
    .news-list .nw-date{ margin-right: 25px; }
    .news-list .nowti{ font-size: 20px; }
    .pro1 .pro-ti{ margin-right: 12%; }
    .pro-list .picbox{ margin-right: 70px; }
    .pro-list li:nth-child(2n) .picbox{ margin-left: 70px; }
    .pro-list .num span{ width: auto; }
    .pro-list .nowti{ font-size: 20px; }
    .pro-list .tx{ margin-top: 15px; }
    .pro-list .num{ margin-bottom: 40px; }
    .pro-list li+li{ margin-top: 50px; }
    .pro4{ width: 90%; }
    .prot-list .txts{ padding: 5% 5% 0 5%; }
    .prot-list .nowti{ font-size: 20px; }
    .prot-list .tx{ margin-top: 15px; }
    .pnav .b{ display: none; }
    .pro-hot-list .item{ padding: 0; }
    .pro-hot{ padding-bottom: 70px; }
    .pro-hot .nowti{ margin-bottom: 45px; }
    .pro-hot-list .slick-arrow{ margin-bottom: 35px; }
    .case-pw{ width: 90%; }
    .flow-list .ma{ padding: 0 25px; }
    .field-list .t{ padding-right: 5%; }
    .field-list .b{ padding-left: 5%; padding-right: 5%; }
    .ser-list li{ width: 100%; padding-bottom: 55px; padding-left: 5%; padding-right: 5%; border-left: 1px solid #ccc; }
    .ser-list .pic{ display: none; }
    .ser-list li + li{ border-top: 1px solid #ccc; }
    .ser-list .tx{ height: auto; margin-bottom: 0; line-height: 1.8 !important; }
    .ser-list .nowti{ white-space: normal; }
    .ser2{ padding-bottom: 90px; }
    .ser-list{ border-bottom: 1px solid #ccc; }
    .cta-tx{ width: 350px; padding: 40px 35px 0 35px; }
    .sos-box{ margin: 0; transform: translateY(-50%); }
    .ix1 .ix-ab-ti .pa{ padding-left: 0; }
    .ix1 .ix-ab-ti{ padding-left: 5%; box-sizing: border-box; }
    .ix-news{ width: 50%; }
    .ix-news.item1 a{ height: 325px; }
    .ix-news.item2 a{ background: #f7fcff; }
    .ix-cul-list:after{ display: none; }
    .ix-cul-list .slick-list{ overflow: hidden; }
    .cul-next{ display: none; }
    .ix-cul-list .ma{ margin-right: 0; }
    .ix-cul-list .item{ width: auto; }
    .ab-link-list .btn-box{ transform: none; opacity: 1; visibility: visible; }
    .ab-link-list .tx{ height: 60px; font-size: 20px; line-height: 30px !important; }
    .ab-link-list .pai{ padding-bottom: 0; height: 300px; }
    .ab-link-list .pai img{ object-fit: cover; }
    .ab-intro .btn-box{ margin-top: 45px; }
    .ab-honor .dnSlide-main{ height: auto !important; width: 100%; visibility: visible; overflow: hidden; }
    .ab-honor .dnSlide-main img{ width: 18.4%; float: left; margin: 0 2% 2% 0; }
    .ab-honor .dnSlide-main img:nth-child(5n){ margin-right: 0; }
    .ab7 .ab-honor{ margin-bottom: 40px; }

} /* 1024 */
@media screen and (max-width:861px) {
    .pbanner .pic2{ height: 43vw; }
    .pbanner .pic2 img{ object-fit: cover; height: 100%; }
    .footer .f-ma{ display: none; }
    .footer .f-cta{ float: none; overflow: hidden; width: auto; margin: 0; }
    .footer .logo{ margin-right: 35px; }
    .footer .c{ padding-top: 25px; }
    .ab1 .charac-list{ margin: 0 0 30px 0; float: none; }
    .charac-list{ text-align: center; letter-spacing: -6px; }
    .charac-list li{ display: inline-block; vertical-align: bottom; letter-spacing: 0; margin: 0 15px 20px 15px; }
    .ab-ti{ font-size: 28px; }
    .ab1 .ab-ti{ margin-bottom: 25px; }
    .charac-list li+li{ margin-top: 0; }
    .cul-list .pic{ display: none; }
    .cul-list .txts{ width: 100%; float: none; padding-top: 40px; padding-bottom: 40px; }
    .cul-list .ch{ margin-top: 75px; }
    .honor-list a{ width: 33.33%; }
    .news-list li{ width: 100%; float: none; }
    .news-list .item2 a,
    .news-list .item1 a { margin-left: 5%; margin-right: 5%; }
    .news-list .item2 a{ border-left: 1px solid #ccc; }
    .news-list a{ padding: 40px 5%; height: auto; }
    .mien-list a{ width: 50%; padding: 40px 30px; }
    .mien-list a:nth-child(n+3){ border-top: 1px solid #ccc; }
    .mien-list a:nth-child(2n-1){ border-left: 1px solid #ccc; }
    .pro-ti{ font-size: 32px; }
    .pro1 .pro-ti{ margin-right: 10%; }
    .pro-list .pic{ position: static; width: 100%; }
    .pro-list .pro-more,
    .pro-list .pai{ display: none; }
    .pro-list a{ padding-top: 0; }
    .pro-list .picbox{ margin-right: 30px; width: 50%; }
    .pro-list li:nth-child(2n) .picbox{ margin-left: 30px; }
    .pro-list .num{ margin-bottom: 30px; font-size: 14px; }
    .pro-cta .pic{ display: none; }
    .pro-cta .txts{ padding-left: 5%; padding-right: 5%; }
    .pro-cta .en{ left: 5%; }
    .pro-cta .ch{ right: 5%; }
    .prot-list .prot-more{ width: 120px; font-size: 12px; line-height: 40px; }
    .prot-list .prot-more .btn-sjr{ display: none; }
    .prot-list a+a{ margin-top: 35px; }
    .flow-list .ma{ padding: 0 15px; font-size: 12px; }
    .case-ti{ font-size: 28px; }
    .cta-tx{ width: 100%; float: none; padding: 70px 5%; }
    .cta-tx .case-ti{ font-size: 28px; }
    .ix1 .ix-ab-ti{ width: 100%; float: none; padding-right: 5%; }
    .ix1 .ix-ab-ti .pa{ padding: 70px 0; }
    .ix1 .ix-ab{ width: 100%; height: auto; float: none; }
    .ix-ab a{ padding: 40px 5%; }
    .ix-news-list,
    .ix-news>a{ padding-left: 30px; padding-right: 30px; }
    .ix-news .num{ left: 30px; }
    .ix-news .btn-box{ right: 30px; }
    .ix-pro-bg{ display: none; }
    .ix-pro .ma{ margin-left: 5%; margin-right: 5%; border-right: 1px solid #e5e5e5; }
    .ix-pro{ width: 100%; float: none; }
    .ix3{ border-top: 1px solid #e5e5e5; }
    .ix-pro .ip-ti, .ix-pro .ix-more2, .ix-pro-list a{ padding: 0 5%; }
    .ix-ser-list .b{ padding: 40px 10% 0 10%; }
    .ix-ser-list .icon{ right: 10%; font-size: 46px; }
    .ix-cul-list .nowti{ padding: 0 5%; }
    .ix-ab .tx{ height: auto; }
    .ab-honor .dnSlide-main img{ width: 32%; }
    .ab-honor .dnSlide-main img:nth-child(5n){ margin-right: 2%; }
    .ab-honor .dnSlide-main img:nth-child(3n){ margin-right: 0; }


} /* 861 */
@media screen and (max-width:641px) {
    .mtop, .header{ height: 60px; }
    .header .logo>img{ margin: 6px 0 0 15px; transform-origin: left center; transform: scale(.8); }
    .header .logo{ width: 150px; }
    .header .c{ display: none; }
    .menu-btn{ padding: 18px 0; width: 89px; }
    .header{ border: 1px solid #e5e5e5; }
    .menu-btn>p{ width: 45px; }
    .menuBox .navMobile{ padding-top: 0; }
    .menuBox .lang{ display: block; margin-bottom: 5px; padding-top: 88px; }
    .mien-list a{ padding: 30px 20px; }
    .pro-list li:nth-child(2n) .picbox,
    .pro-list .picbox{ float: none; margin: 0 0 30px 0; }
    .pro-list .picbox{ width: 100%; }
    .pro2{ padding: 0 !important; }
    .pro-list a{ padding: 40px 5%; border: 1px solid #ccc; border-top: none; }
    .pro-list li+li{ margin: 0; }
    .pro-list li:last-child a{ border-bottom: none; }
    .pro-list .tx{ max-height: none; }
    .prot-list .pic{ width: 100%; float: none; }
    .prot-list .txts{ width: 100%; float: none; padding-top: 30px; }
    .prot-list .prot-more{ position: static; margin: 40px 0 0 5%; }
    .prot-list a{ padding-bottom: 50px; }
    .prot-list .tx{ height: auto; }
    .flow-list .ma{ margin-left: 20px; }
    .flow-list{ margin-left: -20px; }
    .flow-list .icon{ width: 20px; }
    .flow-list li{ margin-bottom: 20px; }
    .flow-list .icon-arrowdown{ height: 20px; line-height: 20px; }
    .case1 .flow-list{ margin-bottom: 50px; }
    .ix-pro-list .clearfix{ padding: 3.83vw 0; }


} /* 641 */
@media screen and (max-width:601px) {
    .pbanner .pic2{ height: 55vw; }
    .page-pa{ padding: 12vw 0 15vw 0; }
    .ab1 .charac-list{ margin-bottom: 5vw; }
    .charac-list li{ margin: 0 2.5vw 3.33vw 2.5vw; }
    .ab-ti{ font-size: 24px; }
    .ab1 .ab-ti{ margin-bottom: 4.17vw; }
    .ab1 .ab-video{ margin-top: 10vw; }
    .cul-list .pic{ display: block; float: none; width: 100%; }
    .cul-list li:nth-child(2n-1) .pic{ float: none; }
    .cul-list .txts{ padding-top: 6.67vw; padding-bottom: 6.67vw; }
    .cul-list .ch{ margin-top: 12.5vw; }
    .honor-list .ma{ margin-left: 15px; }
    .honor-list{ margin-left: -15px; }
    .honor-list a{ margin-bottom: 5.83vw; }
    .ab4 .honor-list{ margin-bottom: 3.33vw; }
    .news-list a{ padding-top: 6.67vw; padding-bottom: 6.67vw; }
    .nw1 .news-list{ margin-bottom: 10vw; }
    .nw1{ padding-bottom: 15vw; }
    .nd-t{ padding: 10vw 0 14vw 0; }
    .nd-t .ti{ font-size: 24px; }
    .nd-b{ padding-bottom: 22vw; }
    .nd-b .freeTx{ padding-top: 12vw; }
    .nd-back a{ line-height: 15vw; }
    .nw1 .mien-list{ margin-bottom: 10vw; }
    .mien-list a{ padding: 5vw 3.33vw; }
    .pro1 .pro-ti{ float: none; margin: 0 0 3.33vw 0; }
    .pro-ti{ font-size: 26px; }
    .pro1{ padding: 12vw 0; }
    .pro-list a{ padding-top: 6.67vw; padding-bottom: 8.33vw; }
    .pro-list .picbox, .pro-list li:nth-child(2n) .picbox{ margin-bottom: 5vw; }
    .pro-list .num{ margin-bottom: 5vw; }
    .pro-list .tx{ margin-top: 2.5vw; }
    .pro-cta .txts{ padding-top: 7.5vw; height: 75vw; }
    .pro-cta .ch, .pro-cta .en{ bottom: 7.5vw; }
    .pro3{ padding-bottom: 15vw; }
    .pro-cta .ti{ font-size: 20px; }
    .prot-list .txts{ padding-top: 5vw; }
    .prot-list .tx{ margin-top: 2.5vw; }
    .prot-list .prot-more{ margin-top: 6.67vw; }
    .prot-list a{ padding-bottom: 8.33vw; }
    .prot-list a+a{ margin-top: 5.83vw; }
    .pro-hot{ padding: 12vw 0; }
    .flow-list li{ width: 50%; }
    .flow-list .r{ float: left; }
    .flow-list .icon{ display: none; }
    .case-ti{ font-size: 24px; }
    .case1 .flow-list,
    .case1 .case-ti{ margin-bottom: 8.33vw; }
    .field-list .t{ padding-top: 6.67vw; padding-bottom: 6.67vw; }
    .field-list .nowti{ font-size: 18px; }
    .field-list .b{ padding-top: 8.33vw; padding-bottom: 15vw; }
    .ser1{ padding-bottom: 12vw; }
    .ser-list li{ padding-top: 9.17vw; padding-bottom: 9.17vw; }
    .down-list .nowti{ font-size: 18px; }
    .down-list a{ padding-top: 6.17vw; padding-bottom: 6.17vw; }
    .cta-tx{ padding-top: 12vw; padding-bottom: 12vw; }
    .cta-tx .case-ti{ font-size: 24px; }
    .cta-tx .cta-list{ margin-top: 4.5vw; }
    .cta-list p+p{ margin-top: 1.33vw; }
    .cta-tx .cta-tel{ margin-top: 6.17vw; }
    .cta-tx .f-ma{ margin-top: 14.17vw; }
    .cta-tx .btn-box{ margin-top: 5.83vw; }
    #map{ height: 95.83vw; }
    .cta2 .online-message-form{ margin-top: 5.83vw; }
    .sos-box .ch{ font-size: 24px; margin-top: 5vw; }
    .sos-box .tx1{ margin-top: 10vw; }
    .ix-ab-ti .ti1{ font-size: 20px; }
    .ix-ab-ti .ti2{ font-size: 32px; }
    .ix1 .ix-ab-ti .pa{ padding: 12vw 0; }
    .ix-ab a{ padding-top: 6.67vw; padding-bottom: 6.67vw; }
    .ix1 .fixbg{ padding-bottom: 45%; }
    .ix-news{ width: 100%; }
    .ix-news.item2 a{ background: #fff; }
    .ix-pro .ma{ padding: 12vw 0; }
    .ip-ti{ font-size: 26px; }
    .ix-pro .ix-pro-list,
    .ix-pro .ip-ti{ margin-bottom: 6.67vw; }
    .ix-ser-list li{ width: 100%; float: none; }
    .ix4:before{ display: none; }
    .ix-ser-list .nowti{ margin-bottom: 4.17vw; padding-left: 3.33vw; }
    .ix-ser-list .b{ height: auto; padding: 6.67vw 5%; }
    .ix-ser-list .tx{ height: auto; line-height: 1.4 !important; }
    .ix-ser-list .ix-more{ margin-top: 70px; }
    .ix-ser-list .icon{ right: 5%; bottom: 15px; }
    .ix4{ padding: 12vw 0; }
    .ix-ser-list li + li{ margin-top: 5vw; }
    .ix-cul-t{ padding-left: 3.33vw; }
    .ix5 .ix-cul-t{ margin-bottom: 5.83vw; }
    .ix5{ padding: 12vw 0 15vw 0; }
    .ix-cul-list .nowti{ bottom: 5%; }
    .ix-arrow .slick-arrow{ width: 48px; height: 48px; line-height: 48px; font-size: 20px; }
    .ix-news-list,
    .ix-news.item1 a{ height: auto; padding: 6.67vw 5%; }
    .ix-news .num{ position: static; margin-top: 60px; }
    .ix-news .ti2{ height: auto; margin-bottom: 6.67vw; line-height: 1.4 !important; }
    .ix-news .btn-box{ right: 5%; }
    .ab-intro .freeTx{ margin-top: 5.83vw; }
    .ab-intro .btn-box{ margin-top: 7.5vw; }
    .ab-link-list li{ width: 100%; float: none; }
    .ab-link-list .pai { padding-bottom: 48.54167%; height: auto; }
    .ab-link-list .ti, .ab-link-list .tx{ padding-left: 5%; padding-right: 5%; }
    .ab-link-list .btn-box{ padding-right: 5%; }
    .ix5 .btn-box{ margin-top: 7.5vw; }
    .pbanner .txts2{ padding-top: 13%; }
    .ab7 .case-ti{ margin-bottom: 2.5vw; }
    .ab7 .freeTx{ margin-bottom: 6.67vw; }
    .ab7 .ab-honor{ margin-bottom: 6.67vw; }







} /* 601 */
@media screen and (max-width:481px) {
    .menu-btn{ width: 59px; }
    .menu-btn>p{ display: none !important; }
    .header .logo>img{ transform: scale(.7); }
    .menuBox dd>a{ font-size: 16px; }
    .menuBox .lang{ font-size: 14px; }
    .pbanner .ch{ font-size: 24px; }
    .f-share a{ width: 36px; height: 36px; font-size: 20px; }
    .f-share{ line-height: 36px; }
    .footer .logo{ float: none; margin: 0; transform-origin: left top; transform: scale(.85); }
    .footer .t{ padding: 15px 0; }
    .ab-ti{ font-size: 22px; }
    .charac-list li{ width: 74px; height: 74px; padding-top: 10px; }
    .charac-list .ico{ transform-origin: center top; transform: scale(.8); }
    .charac-list p{ margin-top: -8px; }
    .video-btn{ width: 50px; height: 50px; margin: -25px 0 0 -25px; }
    .video-btn:after{ border-width: 2px; }
    .video-btn .sj{ margin: 18px 0 0 19px; border-top-width: 7px; border-bottom-width: 7px; }
    .cul-list .freeTx{ margin-top: 5px; }
    .honor-list a{ width: 50%; }
    .honor-list .nowti{ margin-top: 10px; font-size: 12px; }
    .ab-more .icon{ margin-bottom: 0; }
    .ab-more{ padding-top: 10px; height: 70px; }
    .nw-date{ width: 72px; height: 88px; padding-top: 15px; font-size: 12px; }
    .nw-date .y{ bottom: 20px; }
    .nw-date .d{ font-size: 20px; padding-bottom: 10px; }
    .news-list .nw-date{ margin-right: 15px; }
    .news-list .nowti{ margin-bottom: 15px; font-size: 18px; }
    .news-list .tx{ height: auto; margin-bottom: 8.33vw; }
    .nd-t .ti{ font-size: 22px; }
    .mien-list a{ width: 100%; border-left: 1px solid #ccc; padding: 6.67vw 5%; }
    .mien-list a:nth-child(2){ border-top: 1px solid #ccc; }
    .pro-ti{ font-size: 22px; }
    .pro-list .nowti{ font-size: 18px; }
    .pro-cta .ti{ font-size: 18px; }
    .pro-cta .pic{ display: block; width: 100%; float: none; }
    .pro-cta .ch, .pro-cta .en{ font-size: 12px; }
    .pro-cta .ch{ width: 12px; }
    .prot-list .nowti{ font-size: 18px; }
    .nd-t .ti span{ font-size: 14px; }
    .pro-hot-list .item a{ margin-left: 10px; }
    .pro-hot-list{ margin-left: -10px; }
    .pro-hot .nowti{ margin-bottom: 25px; }
    .pro-hot-list .slick-arrow{ width: 30px; height: 30px; margin-bottom: 25px; line-height: 30px; font-size: 16px; }
    .pro-hot-list .slick-prev{ margin-right: 31px; }
    .ser-ti, .case-ti{ font-size: 20px; }
    .field-list .nowti{ font-size: 16px; }
    .ser-list .ico{ transform-origin: left top; transform: scale(.8); }
    .ser-list .nowti{ margin-top: -10px; }
    .down-list .nowti{ font-size: 16px; }
    .down-list .icon{ font-size: 24px; }
    .cta-tx .case-ti{ font-size: 20px; }
    .cta-tel .icon{ margin-right: 15px; font-size: 32px; line-height: 48px; }
    .cta-tel .b{ line-height: 24px; font-size: 16px; }
    .online-message-form .clearfix .s-input{ width: 49%; }
    .online-message-form .clearfix .s-input:nth-child(3){ width: 100%; margin: 10px 0 0 0; }
    .online-message-form .s-textarea{ margin-top: 10px; }
    .sos-box .ch{ font-size: 20px; }
    .ix-ab-ti .ti1{ font-size: 16px; }
    .ix-ab-ti .ti2{ font-size: 26px; }
    .ix-ab .nowti{ font-size: 20px; }
    .ix-pro-list .nowti{ font-size: 14px; }
    .ip-ti{ font-size: 22px; }
    .ix-ser-list .tx{ font-size: 16px; }
    .ix-cul-list .nowti{ font-size: 14px; }
    .ix-arrow .slick-arrow{ width: 38px; height: 38px; line-height: 38px; font-size: 16px; }
    .ix-arrow .slick-prev{ left: 5px; }
    .ix-arrow .slick-next{ right: 5px; }
    .ix-news .ti2{ font-size: 18px; }
    .ab-link-list .pai{ height: 220px; padding-bottom: 0; }
    .ab-link-list .tx{ font-size: 18px; height: 52px; line-height: 26px !important; }
    .online-message-form .s-input{ padding-left: 10px; padding-right: 10px; }

    
    
    

} /* 481 */
@media screen and (max-width:361px) {} /* 361 */
@media screen and (max-width:321px) {} /* 341 */
