.mtop {
  height: 88px; }

.header {
  height: 88px;
  line-height: 24px; }
  .header .logo {
    height: 100%;
    width: 240px;
    float: left;
    background: #0d4e98; }
    .header .logo > img {
      display: block;
      margin: 20px 0 0 45px;
      width: 143px; }
  .header .h-news {
    float: right;
    height: 100%;
    width: 34.6875%;
    background: #333; }
  .header .c {
    overflow: hidden; }
  .header .nav {
    overflow: hidden; }
    .header .nav li {
      float: left;
      padding: 0 11px; }
      .header .nav li > a {
        display: block;
        position: relative;
        padding: 32px 6px;
        color: #333; }
        .header .nav li > a:before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 0;
          height: 1px;
          background: #308ed5;
          transition: 300ms; }
      .header .nav li:hover > a {
        color: #308ed5; }
        .header .nav li:hover > a:before {
          left: 0;
          width: 100%; }

.h-news .item {
  padding: 32px 60px 0 50px; }
  .h-news .item > a {
    display: block;
    color: #fff;
    overflow: hidden; }
    .h-news .item > a:hover {
      color: #0d4e98; }

.h-news .date {
  float: right;
  margin-left: 20px; }

.h-news .nowti {
  line-height: 24px; }
